BackLib/BackWsdlService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/BackWsdl" xmlns="http://tempuri.org/BackWsdl" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org/BackWsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/BackWsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:complexType name="GetCustomerBackRequest">
        <xsd:sequence>
          <xsd:element ref="mrm:id"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetCustomerBackResponse">
        <xsd:sequence>
          <xsd:element ref="mrm:id"/>
          <xsd:element ref="mrm:name"/>
          <xsd:element ref="mrm:status"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FaultBack">
        <xsd:sequence>
          <xsd:element ref="mrm:faultData"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="faultData" type="xsd:string"/>
      <xsd:element ibmSchExtn:docRoot="true" name="GetCustomerBackRequest" type="mrm:GetCustomerBackRequest"/>
      <xsd:element ibmSchExtn:docRoot="true" name="GetCustomerBackResponse" type="mrm:GetCustomerBackResponse"/>
      <xsd:element ibmSchExtn:docRoot="true" name="FaultBack" type="mrm:FaultBack"/>
    </xsd:schema>